<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Usersform/layoutSite.html}">

<head>
<style type="text/css">
.discount {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #e74c3c; /* Màu nền của phần trăm giảm */
	color: #fff; /* Màu chữ của phần trăm giảm */
	padding: 5px 10px;
	border-radius: 0 0 0 5px; /* Để bo tròn góc phải dưới cùng */
	font-size: 14px;
}
</style>
</head>

<body>

	<section class="htc__product__area shop__page ptb--130 bg__white"
		layout:fragment="content">

		<div class="container" ng-controller="ctrlHome">
			<div class="htc__product__container">
				<!-- Start Product MEnu -->
				<div class="row">
					<div class="col-md-12">
						<div class="filter__menu__container">
							<ul
								style="float: right; margin-top: 17px; width: 30%; display: block;">
								<input type="text" ng-model="name" class="form-control"
									placeholder="Tìm kiếm ở đây" />
							</ul>


							<div style="font-size: larger;">
								<nav class="mainmenu__nav hidden-xs hidden-sm">
									<ul class="main__menu">
										<li class="drop"><a ng-click="load_all()">Tất cả</a></li>
										<li class="drop"><a>Danh mục</a>
											<ul class="dropdown">
												<li ng-repeat="i in itemcate"
													ng-click="productincate(i.categoryID)"><a>{{i.name}}
												</a></li>

											</ul></li>

									</ul>

								</nav>

							</div>

						</div>

					</div>
				</div>
				<!-- Start Filter Menu -->

				<!-- End Filter Menu -->
				<!-- End Product MEnu -->
				<div class="row">
					<div class="product__list another-product-style">
						<div class="col-md-3 "
							style="display: block; max-width: 300px; max-height: 440px; width: 300px; height: 440px;"
							ng-repeat="item in page.items | filter:name">
							<div class="product">
								<div class="product__inner">

									<div class="pro__thumb">

										<span ng-if="item.discount > 0" class="discount">{{item.discount}}%</span>
										<a data-toggle="modal" data-target="#productModal"
											ng-click="views(item.productID)" title="Chi tiết"
											class="quick-view modal-view detail-link"
											style="display: block;"> <img
											ng-src="{{'https://firebasestorage.googleapis.com/v0/b/webstorbook.appspot.com/o/'+item.image+ '?alt=media&token=155d6665-5e02-42e7-9b7b-f22eb82799fa'}}"
											style="display: block; max-width: 270px; max-height: 270px; width: 270px; height: 270px;"
											alt="product images"
											class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
											loading="lazy">
										</a>
									</div>
									<span class="hidden" id="username">[[${#request.remoteUser}]]</span>
									<!--  
									<div class="product__hover__info">
										
										<ul class="product__action">
											<li><a data-toggle="modal" data-target="#productModal"
												ng-click="views(item.productID)" title="Chi tiết"
												class="quick-view modal-view detail-link"><span
													class="ti-eye"></span></a></li>

											<li><a title="Add TO Cart"
												th:attr="ng-click=@{|cart.add(item.productID)|}"><span
													class="ti-shopping-cart"></span></a></li>
											<li><a title="Wishlist" href="/wishlist"><span
													class="ti-heart"></span></a></li>

										</ul>
									</div>
									-->
								</div>
								<div class="product__details">
									<h2>
										<a>{{item.name}}</a>
									</h2>
									<ul class="product__price">
										<li class="old__price" ng-if="item.discount!=0">{{item.unitPrice
											| currency:"":0}} VND</li>
										<li class="new__price">{{getAmount(item.unitPrice,item.discount)
											| currency:"":0}} VND</li>
									</ul>
								</div>
							</div>

						</div>


						<!-- End Single Product -->
					</div>
				</div>
				<!-- Start Load More BTn -->
				<div class="row mt--60">
					<div class="col-md-12">
						<div class="htc__loadmore__btn">
							<a ng-click="page.loadmore()">Thêm</a>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="productModal" tabindex="-1"
					role="dialog">
					<div class="modal-dialog modal__container" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="modal-product">
										<!-- Start product images -->
										<div class="product-images">
											<div class="main-image images">
												<img alt="big images"
													ng-src="{{'https://firebasestorage.googleapis.com/v0/b/webstorbook.appspot.com/o/'+show.image + '?alt=media&token=155d6665-5e02-42e7-9b7b-f22eb82799fa'}}"
													class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
													style="display: block; max-width: 600px; max-height: 600px; width: 600px; height: 600px;">
											</div>
										</div>
										<!-- end product images -->
										<div class="product-info">
											<h1>{{show.name}}</h1>
											<!--
											<div class="rating__and__review">
												<ul class="rating">
													<li><span class="ti-star"></span></li>
													<li><span class="ti-star"></span></li>
													<li><span class="ti-star"></span></li>
													<li><span class="ti-star"></span></li>
													<li><span class="ti-star"></span></li>
												</ul>
												<div class="review">
													<a href="#">4 customer reviews</a>
												</div>
											</div>
											-->
											<div class="price-box-3">
												<div class="s-price-box">
													<span ng-if="show.discount == 0" style="font-size: 23px">{{getAmount(show.unitPrice,show.discount)
														| currency:"":0}} VND</span> <span ng-if="show.discount > 0"
														class="new-price">{{getAmount(show.unitPrice,show.discount)
														| currency:"":0}} VND</span> <span ng-if="show.discount > 0"
														class="old-price">{{show.unitPrice |
														currency:"":0}} VND</span>
												</div>
											</div>
											<div class="quick-desc">{{show.description}}</div>

										
											<div class="addtocart-btn">
												<a th:attr="ng-click=@{|cart.add(show.productID)|}">Thêm giỏ hàng</a>
											</div>
											<div class="addtocart-btn">
												<a th:attr="ng-click=@{|wishList.add(show.productID)|}">Thêm vào yêu thích</a>
											</div>
										</div>
										<!-- .product-info -->
									</div>
									<!-- .modal-product -->
								</form>
							</div>
							<!-- .modal-body -->
						</div>
						<!-- .modal-content -->
					</div>
					<!-- .modal-dialog -->
				</div>
				<!-- END Modal -->
			</div>
		</div>

	</section>
</body>

</html>