<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Usersform/layoutSite.html}">

<head>
</head>

<body layout:fragment="content" ng-controller="ctrlcart">
	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area"
		style="background: rgba(0, 0, 0, 0) url(/User/images/bg/2.jpg) no-repeat scroll center center/cover;">
		<div class="ht__bradcaump__wrap">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="bradcaump__inner text-center">
							<h2 class="bradcaump-title">Checkout</h2>
							<nav class="bradcaump-inner">
								<a class="breadcrumb-item" href="/">Home</a> <span
									class="brd-separetor">/</span> <span
									class="breadcrumb-item active">Checkout</span>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Bradcaump area -->
	<!-- Start Checkout Area -->
	<section class="our-checkout-area ptb--120 bg__white">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<div class="ckeckout-left-sidebar">
						<!-- Start Checkbox Area -->
						
						<!-- End Checkbox Area -->
						<!-- Start Payment Box -->
						<div class="payment-form">
							<h2 class="section-title-3">Thanh toán</h2>
							<div class="content-box-row">
                                        <div class="radio-wrapper">
                                            <label class="radio-label" for="shipping_rate_id_1000097177" style="margin: 0;">
                                                <div class="radio-input">
                                                    <input class="input-radio" type="radio" id="payment" name="payment" value="Thanh toán trực tiếp" checked />
                                                </div>
                                                <img class='main-img' src="https://hstatic.net/0/0/global/design/seller/image/payment/cod.svg?v=6" />
                                                <span class="radio-label-primary" style="margin-left:10px ;">Thanh toán khi giao hàng (COD)</span>

                                            </label>
                                        </div>


                                        <div class="radio-wrapper vnpay">
                                            <label class="radio-label" for="shipping_rate_id_1000097177" style="margin: 0;">
                                                <div class="radio-input">
                                                    <input id="paypal" name="payment" value="Thanh toán online" class="input-radio" type="radio" />
                                                </div>
                                                <img class='main-img' src="https://hstatic.net/0/0/global/design/seller/image/payment/vnpay_new.svg?v=6" />
                                                <span class="radio-label-primary" style="margin-left:10px ;">Thanh toán VNPAY</span>
                                            </label>

                                        </div>
                                    </div>
						</div>
						<!-- End Payment Box -->
						<!-- Start Payment Way -->
					
						<!-- End Payment Way -->
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="checkout-right-sidebar">
						<div class="our-important-note">
							<h2 class="section-title-3">Giỏ hàng :</h2>
							<div class="table-content " style="margin-top: 40px">
								<table>
									<thead>
										<tr>

											<th class="product-name">Product</th>
											<th class="product-price">Price</th>
											<th class="product-quantity">Quantity</th>
											<th class="product-subtotal">Total</th>

										</tr>
									</thead>
									<tbody>

										<td colspan="6" ng-if="pagecartItem.items.length == 0">
											<p style="font-size: x-large;">Giỏ Hàng Đang Trống...</p>
										</td>

										<tr ng-repeat="icart in pagecartItem.items">
											<input type="hidden" ng-model="form.image">
											<input type="hidden" ng-model="form.realPrice">
											<input type="hidden" ng-model="form.products.name">


											<td class="product-name"><a href="#">{{icart.products.name}}</a></td>
											<td class="product-price"><span class="amount">{{icart.realPrice
													| currency:"":0}}VND</span></td>
											<td class="product-subtotal"><input type="number"
												min="1" id="{{icart.cartDetailID}}"
												ng-click="viewItems.update(icart.cartDetailID)"
												ng-model="icart.quantity" /></td>
											<td class="product-quantity">{{icart.realPrice*icart.quantity|currency:"":0}}
												VND</td>

										</tr>

									</tbody>

								</table>
							</div>

						</div>
						<div class="col-md-4 col-sm-5 col-xs-12" style="width: 100%">
								<div class="cart_totals">
									<br> <br>
									<table>
										<tbody>
											<tr class="order-total">
												<th>Total</th>
												<td><strong><span class="amount">{{getTotal()|currency:"":0}}
															VND</span></strong></td>
											</tr>
										</tbody>
									</table>
									<br> <br>
									<div class="wc-proceed-to-checkout" ng-if="getTotal() >0">
										<a ng-click="viewItems.addOrder()">Thanh toán</a>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>