<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Usersform/layoutSite.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
	<div class="ht__bradcaump__area"
		style="background: rgba(0, 0, 0, 0) url(/User/images/bg/2.jpg) no-repeat scroll center center/cover;">
		<div class=" d-flex justify-content-center align-items-center">
			<div class="card col-md-4 bg-white shadow-md p-5"
				style="border: none; margin-left: 30%">
				<div class="mb-4 text-center" ></div>
				<div class="text-center">
					<h1>Cám ơn bạn đã đặt hàng!</h1>
					<p>Chúng tôi sẽ gửi thông báo qua email của bạn</p>
					<a href="/"><button class="btn btn-outline-success">Trang
							chủ</button></a>
				</div>
			</div>
		</div>
	</div>


</body>
</html>